html {
    overflow-x: hidden;
}

body {
    background-color: #fafafd;
    padding: 20px 1px 0 1px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h3 {
    margin-left: 20%;
}

#descr {
    width: 40%;
    text-overflow: ellipsis;
}

.table tr:first-child {
    background-color: #555558;
    color: #FEFEFF;
}

.table tr:nth-child(even) {
    background-color: #EEEEF0;
}

.auct-block {
    position: relative;
    box-shadow: inset 0 4px 5px 0 #dddddd;
    border: 1px solid #c6c7cc;
    background: #fdfdfd;
    border-radius: 5px;
    border-color: rgb(103, 125, 223);
    margin: 0 40% 0 40%;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 3px;
}

#a-exit-btn {
    position: absolute;
    right: 1px;
}